[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/poisson-disk-generator"]
	path = extern/poisson-disk-generator
	url = https://github.com/corporateshark/poisson-disk-generator/
